<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Quote Generator</title>
</head>

<body>
	<div class="container">

		<form action="/" method="post" class="panel">
			<textarea name="quote" placeholder="Enter your quote here" required>{{ request.form['quote'] }}</textarea>

			<!-- Dropdown to select the social media platform and image size -->
			<select name="platform_size">
				{% for platform, sizes in SOCIAL_MEDIA_SIZES.items() %}
				<optgroup label="{{ platform }}">
					{% for size_name, size_dimensions in sizes.items() %}
					<option value="{{ platform }}-{{ size_name }}" {% if request.form['platform_size']==platform ~ "-" ~ size_name
						%} selected {% endif %}>
						{{ size_name }} ({{ size_dimensions[0] }}x{{ size_dimensions[1] }})
					</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<input type="submit" value="Generate Image">
		</form>

		{% if image_data %}
		<div class="image-container">
			<img src="{{ image_data }}" alt="Generated Quote Image">
		</div>
		{% endif %}
	</div>
</body>

</html>